absl-py==0.9.0
astor==0.8.1
backports.weakref==1.0.post1
cloudpickle==1.1.1
contextlib2==0.6.0.post1
decorator==4.4.1
dm-sonnet==1.36
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.3.0
gast==0.2.2
google-pasta==0.1.8
grpcio==1.27.1
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mock==3.0.5
numpy==1.16.6
opencv-python==4.2.0.32
opt-einsum==2.3.2
pandas==0.24.2
Pillow==6.2.2
protobuf==3.11.3
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.20.4
scipy==1.2.3
semantic-version==2.8.4
six==1.14.0
sklearn==0.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.2
tensorflow-probability==0.8.0
termcolor==1.1.0
Werkzeug==1.0.0
wrapt==1.11.2
